template(name='logo')
  svg(xmlns='http://www.w3.org/2000/svg' width='200' height='346.4' id='logo')
    path(fill='#96bfdb' fill-opacity=random d='M0 57.73l100 57.74V0z')
    path(fill='#6c9cc7' fill-opacity=random d='M100 115.47L0 173.2V57.73z')
    path(fill='#0b4e90' fill-opacity=random d='M0 173.2l100 57.74V115.47z')
    path(fill='#6c9cc7' fill-opacity=random d='M100 230.94L0 288.67V173.2z')
    path(fill='#0b4e90' fill-opacity=random d='M0 288.67l100 57.74V230.94z')
    path(fill='#68a3d2' fill-opacity=random d='M200 57.73l-100 57.74V0z')
    path(fill='#2b6dba' fill-opacity=random d='M100 115.47l100 57.73V57.73z')
    path(fill='#0b436b' fill-opacity=random d='M200 173.2l-100 57.74V115.47z')
    path(fill='#2b6dba' fill-opacity=random d='M100 230.94l100 57.73V173.2z')
    path(fill='#0b436b' fill-opacity=random d='M200 288.67l-100 57.74V230.94z')
