template(name='editor')
  x3d(showStat='true')
    scene
      orthoviewpoint(position='16.62003 17.75025 16.78401' orientation='-0.61002 0.75160 0.25093 1.00151' fieldOfView='-10,-10,10,10')
      navigationinfo(type=nav_mode headlight='true')

      directionallight(ambientIntensity='0.25' intensity='0.5' global='true' direction='0,-0.25,-0.25')

      if show_colors
        transform(translation='-4 -4 -4')
          each colors
            transform(translation=_id scale='0.5 0.5 0.5')
              shape(id=_id)
                appearance
                  material(diffuseColor=color ambientIntensity='0.5' shininess='0.5')
                box
      else
        transform(rotation='-1.5707963267948966 0 0 1.5707963267948966' translation='-0.5 -0.5 -0.5')
          shape
            appearance
              material(diffuseColor='#ccc' ambientIntensity='0.0' shininess='0.0')
            plane(size='100 100')
        each voxels
          transform(translation=_id scale='0.5 0.5 0.5')
            shape(id=_id)
              appearance
                material(diffuseColor=color ambientIntensity='0.5' shininess='0.5')
              box

  +editor_toolbar
