template(name='editor')
  x3d(showStat='true')
    scene
      orthoviewpoint(position='16 19 16' orientation='-0.58232 0.77671 0.24008 0.97598' fieldOfView='-10,-10,10,10')
      navigationinfo(type='turntable' headlight='true')

      directionallight(ambientIntensity='0.5' global='true')

      transform(rotation='-1.5707963267948966 0 0 1.5707963267948966' translation='-0.5 -0.5 -0.5')
        shape
          appearance
            material(diffuseColor='#ccc' ambientIntensity='0.0' shininess='0.0')
          plane(size='100 100')

      if show_colors
        transform(translation='-4 0 -4')
          each colors
            transform(translation=_id scale='0.5 0.5 0.5')
              shape(id=_id)
                appearance
                  material(diffuseColor=color ambientIntensity='0.5' shininess='0.5')
                box
      else
        each voxels
          transform(translation=_id scale='0.5 0.5 0.5')
            shape(id=_id)
              appearance
                material(diffuseColor=color ambientIntensity='0.5' shininess='0.5')
              box
